RewriteEngine On
RewriteBase /

# Si el archivo o directorio no existe, redirige al router.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
